@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 5, 0);
    color: white;
}
.header{
    width: 20%;
    margin: 50px auto 0px;
    text-align: center;
    color: tomato;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    text-transform: uppercase;
}
form{
    width: 20%;
    margin: 0px auto;
    border: 1px solid white;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    font-size: 15px;
}
.inputs{
    margin: 10px 10px 0px 10px;
    text-transform: uppercase;
}
.inputs label{
    text-align: left;
    font-size: 12px;
}
.inputs input{
    height: 20px;
    width: 95%;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}
.inputs select {
    height: 20px;
    width: 95%;
    text-transform: lowercase;
    margin: 10px 10px 0px 10px;
    display: flex;
}
.inputs input:hover{
    border-radius: 0px;
    border: 1px solid rgb(26, 1, 248);
}
.buttons{
    margin: 10px 10px 0px 10px;
}
.buttons .btn{
    border: 10px 10px 0px 10px;
    border-radius: 5px;
    color:rgba(247, 245, 245, 0.973);
    background-color: blue;
    text-transform: uppercase;
    width: 35%;
}